@import '../../scss/mixins';
@import '../../scss/variables';

.wishlist {
  .wishlist__title {
    @include page-title
  }
  .wishlist__main {
    display: flex;
    flex-wrap: true;
    padding-bottom: 32px;
    margin-bottom: 32px;
    border-bottom: 1px solid $mid;
    .wishlist__image {
      @include poster-image; 
    }
    .wishlist__summary {
      padding: 0 32px 32px 32px;
      .wishlist__btn-wrapper {
        .btn {
          margin: 0 5px;
          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  } 
}