@import '../../scss/_mixins';
@import '../../scss/variables';

.detail {
  .detail__title {
    font-size: 3.2rem;
    text-transform: uppercase;
  }
  &.detail--animation {
    .detail__title {
      color: $animation
    }
  }
  &.detail--adventure {
    .detail__title {
      color: $adventure
    }
  }
  &.detail--comedy {
    .detail__title {
      color: $comedy
    }
  }
  .detail__main {
    display: flex;
    flex-wrap: true;
    .detail__summary {
      padding: 0 32px 32px;
    }
    .detail__image {
      @include poster-image;
    }
  }
}
