@import '../../scss/variables';

.tags {
  .tags__tagname {
    display: inline-block;
    margin: 0 3px 0 0;
    border: 1px solid $highlight;
    background: $dark;
    color: $highlight;
    border-radius: 3px;
    padding: 3px 8px;
  }
}