@import '../../scss/variables';

header {
  background-color: $dark;
  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    color: $highlight;
    max-width: 1100px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 4rem 3.2rem 2rem 3.2rem;
  }
  h1 {
    color: $highlight;
    margin: 0 0;
    font-size: 3.6rem;
  }
  .wishlist-counter__total {
    font-weight: 400;
  }
}
