@import '../../scss/mixins';
@import '../../scss/variables';

.carousel {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  overflow: scroll;
  position: relative;
  border-radius: 3px;
  @include box-shadow;
}

.category {
  .category__title {
    font-size: 3.2rem;
    text-transform: uppercase;
  }
  &.category--animation {
    .category__title {
      color: $animation
    }
  }
  &.category--adventure {
    .category__title {
      color: $adventure
    }
  }
  &.category--comedy {
    .category__title {
      color: $comedy
    }
  }
}