@import './scss/variables';

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}
body {
  background-color: $light;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-size: 1.4rem;
  margin: 0;
  padding: 0 0 3.2rem 0;
  .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 3.2rem;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Oswald", sans-serif;
    font-weight: normal;
    margin: 0;
  }

  a,
  a:hover,
  a:active {
    color: $highlight;
    text-decoration: none;
  }

  button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: $ctalight;
    color:$highlight;
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    font-size: 1.8rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0.3rem;
    &:hover,
    &:focus {
      background: $ctahighlight;
    }
    &:focus {
      outline: 1px solid $highlight;
    }
    &:active {
      transform: scale(0.99);
    }
  }

  .btn {
    .btn__inner-label {
      display: inline-block;
      padding: 0 0.5rem;
    }
    &:hover {
      svg {
        color: $red;
        transition: color 550ms ease;
      }
    }
  }
}
